*,
:after,
:before { box-sizing: border-box; }

div {
  text-align: center;
}

fieldset {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0 auto;
}

/* for Firefox 47*/
.search-button:hover,
.js-search-button-active:hover {
  cursor: pointer;
}

.search-button:focus,
.js-search-button-active:focus {
  outline: 0;
}

.search-button {
  width: 50px;
  /* added height for IE11*/
  height: 50px;
  border: 0;
  padding: 0;
  background-color: transparent;
  transition: all .75s ease 0s;
}

.js-search-button-active {
  border: 1px solid black;
  padding: 5px;
  margin: 0;
  height: 40px;
  background-color: grey;
  transition: all .75s ease 0s;
}

/* IE11 bug workaround to toggle class names for search icon svg, since element.classList doesn't work on SVGs. *sigh* */
.js-search-button-active .search-icon {
  width: 25px;
  transition: width .75s ease 0s;
}

.search-box {
  float: left;
  height: 40px;
  width: 0px;
  outline: 0;
  border: 0;
  transition: width .75s ease 0s;
}

.js-search-box-active {
  padding-left: 10px;
/* There's a text-indent bug on input fields in MS Edge, 09/21/16, padding-left is a workaround; had to add to active class, otherwise offsets the centering of the search icon in default state by 10px */
  /*text-indent: 10px;*/
  display: inline;
  width: 200px;
  border: 1px solid black;
  border-right: 0;
  transition: width .75s ease 0s;
}

.search-icon {
  width: 50px;
  transition: width .75s ease 0s;
}

/* Removed this style hook for IE11 bug workaround to toggle class names for search icon svg, since element.classList doesn't work on SVGs.*/
/* .js-search-icon-active {
  width: 25px;
  transition: width .75s ease 0s;
} */