/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

a {
	text-decoration: none;
	}

/* ---------------page styling -------------------- */

/*import hosted fonts*/
@font-face {
	font-family: Wisdom Script;
	src:url("fonts/Wisdom_Script.otf") format("opentype");
}

.container {
	width: 960px; /*960 grid system*/
	margin: auto;
}

body {
	background-image:url("images/background.jpg");
}

.centered {
	display: block;
	margin: 0 auto;
}
/* ---------------HEADER -------------------- */

.logo {
	margin-top: 40px;
}

.ribbon-banner-container {
	/*alternate way of centering ribbon in container div: */
	/*
	width: 317px;
	margin:10px auto 0 auto; /*top, left, bottom, right*/
	text-align: center;
	clear: both;
	height: 36px; /*same height as ribbon.png, otherwise ribbon.png gets cropped*/
	background-image:url('images/ribbon.png');
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
	margin-top:10px;
}

h6 { /*How do I overlay this text over the ribbon image and center it up?*/
	z-index: 1; /*default z-index is 0, so 1 puts it above banner.png*/
	color: #fefcf2;
	font-family: Libre Baskerville Italic;
	font-weight: 700;
	font-size: 16px;
	font-style: italic;
	vertical-align: middle;
	padding-top: 12px; /*padding used for block elements, margin for inline*/
}

h2 {
	margin-top: 60px;
	font-family: Noticia Text;
	font-size: 26px;
	line-height: 2;
	text-align: center;
	font-weight:700;
	color: #f6515d;
}

/* ---------------SECTION: SIGN-UP -------------------- */

.sign-up {
	width: 100%;
	margin-top: 60px;
	text-align: center;
	background-image: url('images/paper-stack.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 36%; /* (img-height / img-width * width) http://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size /* (564 / 987 * 100) */
	position: relative;
	 /*offset-x | offset-y | blur-radius | spread-radius | color */
}

.form-position {
	position: absolute;
	left: 50%;
	top: 0;
	width: 730px;
	margin-left: -365px; /*offset half of the width of the element to center it horizontally on the page*/
}

h3 {
	font-family:'Wisdom Script';
	z-index:1;
	font-size: 25px;
	line-height: 2;
	text-shadow: 0 1px 1px black;/* offset-x | offset-y | blur-radius | color */
}

h3.newsletter {
	margin-top: 40px;
}

h4 {
	margin-top: 60px;
	font-family: “HelveticaNeue-Bold”, “HelveticaNeueBold”, “Helvetica Neue Bold”, Arimo, Arial, sans-serif;
	z-index:1;
	font-size: 30px;
	line-height: 1.4;
	color: #f6515d;
	text-transform: uppercase;
}

.input {
  display: flex;
  align-items: center;
  margin-top: 25px;
}


.button {
  height: 65px;
  border: none;
}

  
#email {
  width: 75%;
  color: #333;
  background: #fefcf2;
  font-family: “HelveticaNeue”, “HelveticaNeue”, “Helvetica Neue”, Arimo, Arial, sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 1px 1px 2px 0px #dcc199;/* offset-x | offset-y | blur-radius | spread-radius | color */
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #dcc199;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #dcc199;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #dcc199;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #dcc199;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #dcc199;
}

#submit {
  width: 25%;
  height: 65px;
  background: #f6515d;
  font-family: “HelveticaNeue-Bold”, “HelveticaNeueBold”, “Helvetica Neue Bold”, Arimo, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.4;
  color: #fffffe;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0 5px 5px 0;
  box-shadow: inset 2px 2px 2px 0px #ffa4aa;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #e24246;
}
  

input:focus {
  outline: 1px solid #f6515d;
  box-shadow: 3px 3px 1px #dcc199;
}

/* ---------------SECTION: BLOG-POSTS -------------------- */

section.blog {
	background-color: #f6515d;
	overflow: auto;
	margin: 0 -120px; /*Makes this section 1200 px (1200 = 960 + 2*120) 960px is our webpage container size*/
	/*offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0 -5px 10px 0 rgba(0,0,0,0.15);
	position: relative;
	z-index: 99;
}

h3.blog-header {
	text-align: center;
	color: #333;
	padding-top:60px;
}

.all-posts {
	width: 80%; /*80% of 1200 is 960px*/
	overflow: auto;
	margin: 40px auto;
}

.blog-post {
	width: 31.33%;
	float: left;
}

.blog-post:first-child {
	margin-right:3%;
}

.blog-post:last-child {
	margin-left:3%;
}

h5 {
	font-family: Noticia Text;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	color: #333;
}

hr {
	border-top: 1px dashed #333;
}

p.byline {
	font-family: “HelveticaNeue”, “Helvetica-Neue”, “Helvetica Neue”, Arimo, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.8;
	color: #333;
}

p.post{
	font-family: Georgia;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

span {
	color: #fffffe;
	text-transform: uppercase;
	font-style: italic;
}

/* ---------------FOOTER: ABOUT-CONTACT -------------------- */

footer {
	background-color: #333;
	overflow: auto;
	margin: 0 -120px; /*Makes this section 1200 px (1200 = 960 + 2*120) 960px is our webpage container size*/
}

h3.footer-headline {
	color: #fff0da;
}

.all-footer-content {
	width: 80%; /*made <footer> section 1200px with margin, want to keep content at 960px though, which is 80% of 1200*/
	margin: 40px auto;
}

.about {
	width: 48.5%;
	margin-right:3%;
	float: left;
}

.footer-paragraph {
	font-family: Georgia;
	font-size: 14px;
	line-height: 1.5;
	color: #fff0da;
	margin-top: 20px;
}

.get-in-touch {
	width: 48.5%;
	float: left;
}

.contact-button {
	border: none;
	margin-top: 20px;
	height: 30px;
	text-indent: 10px;
	background: #fefcf2;
	font-family: “HelveticaNeue”, “HelveticaNeue”, “Helvetica Neue”, Arimo, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 2px;
	}

#name {
	width: 49%;
	float: left;
	box-shadow: inset 1px 1px 2px 0px #dcc199;/* offset-x | offset-y | blur-radius | spread-radius | color */
}

#e-mail-address {
	width: 49%;
	margin-left: 2%;
	float: left;
	box-shadow: inset 1px 1px 2px 0px #dcc199;/* offset-x | offset-y | blur-radius | spread-radius | color */
}

#subject {
	width: 100%;
	margin-top: 2%;
	box-shadow: inset 1px 1px 2px 0px #dcc199;/* offset-x | offset-y | blur-radius | spread-radius | color */
}

#message {
	width: 100%;
	margin-top: 2%;
	height: 100px;
	box-shadow: inset 1px 1px 2px 0px #dcc199;/* offset-x | offset-y | blur-radius | spread-radius | color */
}

textarea {
	font-family: “HelveticaNeue”, “Helvetica-Neue”, “Helvetica Neue”, Arimo, Arial, sans-serif;
	border: none;
	box-shadow: inset 1px 1px 2px 0px #dcc199;/* offset-x | offset-y | blur-radius | spread-radius | color */
	padding: 10px 0 0 0;
}

textarea:focus {
  outline: 1px solid #f6515d;
  box-shadow: 3px 3px 1px #dcc199;
}

#contact-submit {
	margin-top: 2%;
	float: right;
	text-indent: 0; /*resets text indent of class "contact-button"*/
	color: #333;
	background-color: #dcc199;
	padding: 0 20px;
	cursor: pointer;
	transition: background .3s ease-in-out;
	box-shadow: inset 2px 2px 2px 0px #ffeacc;
}
  

#contact-submit:hover {
  background: #c9b282;
}

.clear-fix {
	clear: both;
}

/*--------------SUB FOOTER -----------------*/

.copyright-info {
	background-color: #f6515d;
	text-align: center;
	overflow: auto;
	margin: 0 -120px; /*Makes this section 1200 px (1200 = 960 + 2*120) 960px is our webpage container size*/
}

p.copyright {
	font-family: “HelveticaNeue”, “Helvetica-Neue”, “Helvetica Neue”, Arimo, Arial, sans-serif;
	color: #333;
	font-size: 10px;
	line-height: 2;
	margin: 5px auto;
}