/* To Do List Web Application CSS styles using BEM (Block__Element--Modifier) Coding Style (getBEM.com)*/

/********************************************
* GLOBAL
********************************************/

*, :after, :before {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/*using a 960px grid*/
.body-container {
  max-width: 960px;
  margin: 0 auto;
}

.header-container {
  padding: 40px 60px;
  overflow: auto;
}

.grid {
  position: absolute;
  z-index: 1;
  background: url('../images/12-columns.png') repeat-y;
  background-size: cover;
}

/* Doesn't actually work, but this is my idea for having one central place for list colors */
.first-list {
  color: #73b2dc;
  border-color: #73b2dc;
}

.first-list:hover {
  fill: #73b2dc;
}


/********************************************
* HEADER
********************************************/
header {
  background-color: #ecf0f1;
}

.logo {}

/********************************************
* Navigation block
********************************************/
nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  margin-left: 25px;
}

nav .icon {
  width: 40px;
}

nav .search {}

nav .search .text-box {
  display: none;
}

nav .dropdown {}

nav .dropdown .dropdown__option {}

nav .add-list {}

nav .settings {}

/********************************************
* LIST SECTION
********************************************/
section {
  background: url('../images/crossword.png');
  overflow: auto;
}

/********************************************
* List block
********************************************/
.list-container {
  max-width:780px;
  width: 81.25%;
  margin: 60px auto;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  background: white;
  padding: 5%;
}

@media (max-width: 600px) {
  .list-container {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: 0;
    box-shadow: 0;
  }
}

/* list block elements*/
.list__name {}
.list__name-hr {}
.list__item-hr {}

.list-container ul {
  list-style: none;
  margin: 0 5%;
  padding: 0;
}

.list-container input[type="checkbox"]:checked ~ span {	
	color: #7e7e7e;
	text-decoration: line-through;
}

/********************************************
* FOOTER
********************************************/

footer {
  background-color: #ecf0f1;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 40px 0;
}