body {
  background: grey;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  margin: 0 auto;
  /* hide flex items when div is shrinking*/
  overflow: hidden;
  max-height: 1000px;
  border: 1px black solid;
  opacity: 1;
  visibility: visible;
  transition: all 2s ease;
}

/* Remove System Checkbox */
input[type="checkbox"] {
  display: none;
}

/* Fake checkbox made in CSS */
.checkbox {
  position: relative;
  display:inline-block;
  min-width:20px;
  height:20px;
  margin-left: 1em;
  margin-top: 1em;
  background-color: #ededed;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 1s ease;
}
/* checkmark svg is added with JS, cannot add class/id to it easily, so target with descendant selector*/
.checkbox svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -70%);
  display: inline-block;
  width: 30px;
  height: auto;
  visibility: hidden;
}

p.list-item {
  text-indent: 0;
}

.list-item {
  margin: 1em 1em 1em 1.25em;
  max-width: 80%;
  line-height: 1.5;
  text-indent: 10px;
  flex-grow: 1;
  visibility: visible;
  overflow: hidden;
  text-decoration: none;
  transition: text-decoration 1s ease;
}

.list-item-hidden {
  max-width: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.list-item.complete {
  text-decoration: line-through;
  transition: text-decoration 1s ease;
}

a {
  display: inline-block;
  opacity: 1;
  transition: opacity 1s ease;
}

a:hover, .checkbox, .add-task-container {
  cursor: pointer;
}

.list-item-container a svg {
  width: 20px;
  height: auto;
  margin-right: 1em;
  margin-top: 1em;
}

.add-task-container {
  display: block;
  width: 400px;
  margin: 0 auto;
  border: 1px black solid;
}

p { margin-left: 1em; }

.hidden {
  max-height: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease 1s;
}